body {
    font-size: 100%;
    font-size: 0.875em;
    /* 14/16=.875=14 pts */
    background-image: linear-gradient(#e84392, #5650ce, black);
}

:root {
  --mainColor: #ff9800;
}

a {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: var(--mainColor);
  text-decoration: none;
}

a:hover {
  /*background-image:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );*/
  text-shadow: 0px 0px 0 rgb(208,138,28),1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0
rgb(63,41,8),13px 13px 0
}

p {
    font-family: "Courier New", courier, monospace;
    font-weight: normal;
    font-size: 2vw;
    line-height: 120%;
    text-align: justify;
    color: white;

}

p2 {
    font-family: "century-gothic", monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    line-height: 120%;
    text-align: right;
    color: deepskyblue;
}

p3 {
    font-family: "manicotti", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

p4 {
    font-family: "hoosier-daddy", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

p5 {
    font-family: "discourse-wide", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

p6 {
    font-family: "french-octagon", monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 8vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

p7 {
    font-family: "cottonwood-std", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

h1 {
    font-family: "helvetica", courier, monospace;
    font-size: 6vw;
    line-height: 60%;
    color: red;
    font-style: normal;
    font-weight: 600;
}

h2 {
    font-family: "helvetica", courier, monospace;
    font-size: 6vw;
    line-height: 80%;
    color: red;
    font-style: normal;
    font-weight: 600;
}

h4 {
    font-family: "helvetica", courier, monospace;
    font-size: 15vw;
    line-height: 80%;
    color: red;
    font-style: normal;
    font-weight: 600;
}

p8 {
    font-family: "liebedoni-solid", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: yellow;
    line-height: 100%;
    text-align: right;
}

p9 {
    font-family: "helvetica", sans-serif, monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
    color: black;
    line-height: 100%;
    text-align: right;
    letter-spacing: -1.1px;
}

p10 {
    font-family: "discourse-wide", sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 6vw;
    color: red;
    line-height: 100%;
    text-align: right;
}

.wrapper {
    background-color: black;
    margin: 4% auto;
    margin-left: 40%;
    padding: 20px;
    width: 10%;
    float: left;
    z-index: 1;

}

.wrapper2 {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    margin: 4% auto;
    margin-right: 20%;
    margin-top: 350%;
    padding: 20px;
    width: 10%;
    float: right;
    top: 350%;
    font-size: 2vw;

}

.bullride {
    position: -webkit-sticky;
    position: sticky;
    margin: 4% auto;
    margin-left: -90%;
    margin-top: 380%;
    padding: 20px;
    width: 5%;
    float: right;
    z-index: 99;

}

.wrapper3 {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    margin: 4% auto;
    margin-left: -50%;
    margin-top: 450%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;
    font-size: 2vw;

}

.wrapper4 {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    margin: 4% auto;
    margin-right: -20%;
    margin-top: 500%;
    padding: 20px;
    width: 10%;
    float: right;
    top: 350%;
    font-size: 2vw;
}

.cowpoo {
    
position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 0%;
    margin-top: -750%;
    padding: 20px;
    width: 70%;
    float: left;
    top: 350%;
    font-size: 10vw;
    
}

.echidna

{
    
position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 0%;
    margin-top: -850%;
    padding: 0px;
    width: 100%;
    float: left;
    top: 350%;
 
    
}


.wrapper5 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-right: 0%;
    margin-top: -250%;
    padding: 0px;
    width: 100%;
    float: right;
    top: 0;
    z-index: -2;
}

.wrapper6 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 0%;
    margin-top: -1180%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;
    font-size: 2vw;

}


.wrapper7 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 50%;
    margin-top: -150%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;
    font-size: 2vw;

}

.wrapper8 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 20%;
    margin-top: -450%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;
    font-size: 2vw;

}



.wrapper9 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-right: 20%;
    margin-top: -360%;
    padding: 20px;
    width: 10%;
    float: right;
    top: 350%;
    font-size: 2vw;

}

.wrapper10 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 2%;
    margin-top: -290%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;

}

.wrapper11 {
    position: -webkit-sticky;
    position: sticky;
    background-color: ;
    margin: 4% auto;
    margin-left: 2%;
    margin-top: -250%;
    padding: 20px;
    width: 10%;
    float: left;
    top: 350%;

}


#myBtn {
    font-family: "Courier New", courier, monospace;
    font-weight: normal;
    font-size: 2vw;
    line-height: 120%;
    text-align: justify;
    color: white;
    background-color: black;

}

#myBtn:hover {
    background-color: deeppink;
    /* Add a dark-grey background on hover */
}


/*
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}


.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

4x3 Aspect Ratio
.iframe-container-4x3 {
  padding-top: 75%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
    z-index: -1;
    width: 100vw;
    float: right;
    position: fixed;
   
}
.grid-item {
  background-color: rgba(255, 255, 255,);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

*/
